.section {
  &:first-of-type {
    padding-top: 4rem;
  }

  &:last-of-type {
    padding-bottom: 8rem;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 900;
  }

  h3 {
    font-size: 1.6em;
    font-weight: 700;
    
  }
.blurb2{
  border: 2px solid black; 
  margin: 10px;
  border-radius: 10px;
  border-color: var(--light-border-color, black);
  @media (prefers-color-scheme: dark) {
      border-color: var(--dark-border-color, white);
    }
}
  @media (max-width: 1000px) {
    padding: 3rem 2rem;
  }

  padding: 4rem;

  // Add box-shadow and background color to create a box effect
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white; // Change to your light mode background color
}

// Add styles for dark mode
.darkMode {
  .section {
    background-color: black; // Change to your dark mode background color
  }
}